@-ms-viewport{
  zoom: 1.0;
  width: extend-to-zoom;
}

@viewport{
  zoom: 1.0;
  width: extend-to-zoom;
}

html {
  font-size: 14px;
}

body {
  font-family: 'PT Sans Narrow', apple-system, BlinkMacSystemFont, 'Segoe UI',
               Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  color: #424242;
  background-color: #FFF;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #212121;
}

a,
a:link {
  color: #424242 /* 800 */;
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-color: #FF9E80 /* A100 */;
  border-bottom-width: 2px;
}

a:hover,
a:focus {
  color: #DD2C00 /* A700 */;
  border-color: #FF6E40 /* A200 */;
}

a:active {
  color: #BF360C /* 900 */ !important;
  border-color: #BF360C /* 900 */ !important;
}

nav {
  background: #212121;
  height: 56px;
  line-height: 54px;
  margin: 0;
  padding: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9998;
  transition: all 0.1s;
}
nav .container {
  width: 95%;
  margin: auto;
}
nav ul.navbar-menu {
  margin: 0;
  padding: 0;
  display: block;
  visibility: hidden;
  opacity: 0;
  list-style-type: none;
  transition: visibility 0s, opacity 0.15s linear;
}
nav:not(.expanded) ul.navbar-menu {
  height: 0;
}
nav ul.navbar-menu li a {
  all: unset;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
}
nav ul.navbar-menu li a:hover {
  color: #bdbdbd;
}
nav button.navbar-menu-icon {
  display: block;
}
nav.scrollUp {
  transform: translateY(-56px);
}
nav a#brand {
  float: left;
  font-weight: 800;
  font-size: 20px;
  color: #fff !important;
  text-decoration: none;
  border: none !important;
}
nav button.navbar-menu-icon {
  background: none;
  border: none;
  cursor: pointer;
  color: #fff !important;
  float: right;
}
nav button.navbar-menu-icon,
nav ul.navbar-menu a {
  outline: none;
}
nav a#brand:focus,
nav button.navbar-menu-icon:focus,
nav ul.navbar-menu a:focus {
  color: #616161 !important;
}
nav button.navbar-menu-icon i {
  transition: 0.3s;
  line-height: 54px;
}

nav.expanded {
  height: calc(56px * 5);
}
nav.expanded .container {
  clear: right;
}
nav.expanded ul.navbar-menu {
  display: block;
  visibility: visible;
  opacity: 1;
}
nav.expanded ul.navbar-menu,
nav.expanded ul.navbar-menu li {
  clear: both;
  float: left;
}

#pageContent {
  padding: 0 0.5rem;
  padding-top: 56px;
  max-width: 42rem;
  margin: 2rem auto 7rem;
}

.articles article {
  padding: 0rem 0.75rem 2rem;
  margin: 0;
  border: 1px solid transparent;
  border-radius: 0.25em;
}

.articles article:not(:first-child) {
  border-top-color: #eee;
}

.articles.summary article {
  cursor: pointer;
}

.articles.summary article:hover {
  box-shadow: 2px 2px 10px 1px rgba(1, 0, 0, 0.15);
  transition: box-shadow 0.5s;
}
  article header h1,
  .article-title,
  article header h2,
  .article-title-caption {
    line-height: 1.5em;
  }
  article header h1,
  .article-title {
    font-size: 2.3rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
  article header h2,
  .article-title-caption {
    color: #9d9d9d;
    font-size: 1.35rem;
    font-weight: 400;
    margin-top: 0.6rem;
    font-family: 'PT Sans';
  }
  .article-meta-info {
    font-size: 1.0rem;
    color: #9d9d9d;
    margin-right: 0;
    margin-left: auto;
    padding: 0.5rem 0;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 0.07em;
  }
  .article-content p,
  .article-content blockquote,
  .article-content pre,
  .article-content table,
  .article-content dl,
  .article-content ol,
  .article-content ul {
    font-family: 'PT Serif', Georgia, serif;
    font-size: 1.15rem;
    line-height: 2.15rem;
    margin-bottom: 1.50rem;
    line-height: 1.90rem;
  }
  .article-content h1,
  .article-content h2,
  .article-content h3,
  .article-content h4,
  .article-content h5,
  .article-content h6 {
    margin: 1.75rem 0 1.5rem;
  }
  .article-content h1 {
    font-size: 1.75rem;
    font-weight: 700;
    margin-top: 2.0rem;
  }
  .article-content h2 {
    font-size: 1.55rem;
    font-weight: 700;
  }
  .article-content h3 {
    font-size: 1.45rem;
    font-weight: 4600;
    color: #757575;
  }
  .article-content h4 {
    font-size: 1.32rem;
  }
  .article-content h5 {
    font-size: 1.24rem;
  }
  .article-content h6 {
    font-size: 1.10rem;
  }
  .article-content hr {
    margin: 3.2rem auto;
    display: block;
    border: 0;
    text-align: center;
    overflow: visible;
  }
  .article-content hr:before {
    content: '...';
    font-size: 1.8rem;
    letter-spacing: 1.5rem;
    display: inline-block;
    position: relative;
    top: -1.75rem;
  }

article footer {
  margin-top: 2rem;
  font-size: 1rem;
  color: #616161;
}

q,
blockquote {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
blockquote {
  position: relative;
  margin: 0;
  padding: 2.0rem 3.4rem;
  border-top: 1px solid #BDBDBD;
  border-bottom: 1px solid #BDBDBD;
  font-style: italic;
  color: #616161;
  text-align: center;
}
blockquote::before,
blockquote::after {
  position: absolute;
  font-size: 5rem;
  color: #E0E0E0;
  font-style: normal;
  line-height: 0.1rem;
}
blockquote::before {
  content: open-quote;
  top: 3.70rem;
  left: 0.5rem;
}
blockquote::after {
  content: close-quote;
  bottom: 1.1rem;
  right: 0.5rem;
}
blockquote p {
  margin-bottom: 1rem !important;
}
blockquote p:first-child {
  margin-top: 0;
}
blockquote p:last-child {
  margin-bottom: 0 !important;
}
blockquote a {
  border-color: #bdbdbd /* 400 */;
}
blockquote a:hover,
blockquote a:focus {
  color: #212121 /* 900 */;
  border-color: #616161 /* 700 */;
}

code {
  font-family: 'SFMono-Regular', Monaco, Consolas, 'Liberation Mono', Menlo,
               'Roboto Mono', monospace;
  font-size: 80%;
  padding: 0.12rem 0.5rem;
  margin: 0 0.1rem;
}

pre, code {
  background-color: #EEE;
  border: 1px solid #E0E0E0;
  border-radius: 0.25rem;
}

pre {
  padding: 0.85rem 1.1rem;
  line-height: 1.5rem !important;
}

pre code {
  border: none;
  padding: 0 !important;
  margin: 0;
}

/* 
 * Tables
 */

table {
  border-collapse: separate;
  width: 100%;
}

td {
  vertical-align: top;
}

table th,
table tr td {
  border: 1px solid #BDBDBD;
}

table tr:not(:last-child) td {
  border-top: none;
  border-bottom: none;
}

table tr:last-child td {
  border-top: none;
}

table tr th:not(:last-child),
table tr td:not(:last-child) {
  border-right: none;
}

table tr th ~ th,
table tr td ~ td {
  border-left: none;
}

table th:first-child {
  border-top-left-radius: 0.25rem;
}

table th:last-child {
  border-top-right-radius: 0.25rem;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 0.25rem;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 0.25rem;
}

table tr:nth-child(even) td {
  background-color: #F5F5F5;
}

table th,
table td {
  padding: 0.5rem 0.75rem;
  text-align: left;
}

/*
 * Images and Galleries
 */
 img {
  max-width: 100%;
  display: block;
  margin: 1rem auto;
}

#pageFooter {
  color: #757575;
  font-size: 90%;
  background-color: #FAFAFA;
  border-top: 1px solid #E0E0E0;
  padding: 3rem 0;
  text-align: center;
}

#pageFooter p {
  margin: 0;
  line-height: 170%;
}

.button {
  display: inline-block;
  cursor: pointer;
  font-size: 0.90rem;
  font-weight: 400;
  color: #424242; /* Gray 800 */
  background-color: transparent;
  border: 1px solid #BDBDBD; /* Gray 400 */
  border-radius: 0.30em;
  padding: 0.5rem 1.2rem;
  margin: 0.2rem 0;
  -webkit-transition-duration: 0.25s; /* Safari */
  transition-duration: 0.25s;
}

a.button,
a.button:hover {
  color: #424242; /* Gray 800 */
  text-decoration: none;
}

.button-sm {
  font-size: 80%;
  padding: 0.25rem 0.95rem;
}
.button-lg {
  font-size: 110%;
  padding: 0.75rem 1.5rem;
}

.button-default:hover {
  border-color: #616161; /* Gray 700 */
}

.button-primary {
  color: #FF3D00 !important;  /* A700 */
  border-color: #FFAB91;      /* 200 */
}
.button-primary:hover {
  border-color: #FF3D00;
}

.button-danger:hover {
  color: #D50000 !important;  /* A700 */
  border-color: #EF5350;      /* 400  */
}

.button-disabled {
  opacity: 0.6;
  background-color: #F0F0F0;
  cursor: not-allowed;
}

.category {
  display: inline-block;
  cursor: pointer;
  font-size: 0.9rem;
  text-decoration: none;
  font-weight: 400;
  color: #616161 !important; /* Gray 800 */
  background-color: #EEE; /* Gray 200 */
  margin: 0.3rem;
  margin-left: 0;
  vertical-align: middle;
  text-align: center;
  border: none;
  border-radius: 0.25rem;
  line-height: 2.1rem;
  padding: 0 0.75rem;
  -webkit-transition-duration: 0.25s; /* Safari */
  transition-duration: 0.25s;
}

.category:hover {
  background-color: #E0E0E0; /* Gray 300 */
  text-decoration: none;
}

.category:active {
  color: #424242 !important;
}

.article-categories i {
  vertical-align: middle;
  margin-right: 0.2rem;
}

.button,
.category,
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#pageHeader,
#pageFooter,
.button,
.category,
article footer
 {
  font-family: 'PT Sans', apple-system, BlinkMacSystemFont, 'Segoe UI',
                Roboto, Ubuntu, sans-serif;
}

/* SOME USEFUL RULES */

/* Animate rotations */
.rotate--clockwise--90deg {
  -webkit-transform: rotate(90deg); /* Safari */
  -moz-transform: rotate(90deg); /* Firefox */
  -ms-transform: rotate(90deg); /* IE */
  -o-transform: rotate(90deg); /* Opera */
  transform: rotate(90deg);
}

/* MATERIAL ICONS */
/* Rules for sizing material icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

@media screen and (min-width: 768px) {

  html {
    font-size: 16px;
  }

  nav .container {
    width: 80%;
    margin: 0 auto;
    clear: both;
  }
  nav ul.navbar-menu {
    margin: 0;
    padding: 0;
    visibility: visible;
    opacity: 1;
    float: right;
  }
  nav ul.navbar-menu li {
    display: inline-block;
  }
  nav ul.navbar-menu li a {
    padding: 0 10px;
  }
  nav:not(.expanded) button.navbar-menu-icon {
    display: none;
  }
  
  #pageContent {
    margin-top: 4.5rem;
  }

  .articles article {
    padding: 0.5rem 1.5rem 2.5rem;
  }
}
